.layout-container{
   display:flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 670px;
   background-image: url(../../assets/image/fakurian-design-2sICkGsJRQY-unsplash.jpg);
     background-repeat: no-repeat;
  background-size:cover;
    height:100vh;


}