.header-container {
  list-style: none;
  display: flex;
  padding: 10px;
  justify-content:flex-start;
  background-color: var(--blue);
  width: 100%;
  position:fixed;
  z-index: 1000000000!important;
}

.headerLink {
  color: #eee;
  text-decoration: none;
  padding: 20px;
  font-size: 15px;
}
.header-container .headerLink:hover {
  color: var(--dark-orange);
}

.header-container .i:hover {
  color:var(--dark-orange);
  transform: scale(1.4);
  transition: 0.5s ease-out;
}
.header-container .i {
  color: #eee;
  font-size: 30px;
}



@media screen and (max-width: 910px) {
 .headerLink {
  padding-right: 18px;
  font-size: 18px;
justify-content:flex-start;
align-items: center;}
  
}
@media screen and (max-width: 810px) {
 .headerLink {
  padding-right: 18px;
  font-size: 15px;}
}
@media screen and (max-width: 375px) {
.headerLink {
  padding-right: 18px;
  font-size: 15px;

}

}
@media screen and (max-width: 280px) {
.headerLink {
  padding-right: 2px;
  font-size: 7px;

}

}