:root{
    --blue: #0f0536;
    --blue-trans: #0f0538cb;
    --orange: #F57F17;
    --dark-orange: #FF5823;
    --orange-shadow: rgba(245, 127, 23,0.2);
    --white: #ffffff;
    --black: #333333;
    --error-message:  #e44f4f;
    --toast-error: #e44f4ffa;
    --toast-shadow:  #9c9c9ce3;
    --stroke-color:#a15f5f;
}